
body {
    background-color: #030512;

}

* {
    box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: rgba(3, 5, 18, 0.7);

}
header::after{
  content: "";
  display: block;
  position: absolute;
  margin-top: 20px;
  width: 100%;
  height: 0.1rem;
  background-image: url("/src/assets/images/blue.jpeg");
}

.top_itens{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
width: 80%;
margin-left: 9%;

}
.about_me_container{
  width: 50%;
  margin-left: 15px;
  height: 100%;
}

@media (max-width: 820px)
{
  section:first-of-type
   {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-top: 5rem;
    text-align: center;
    padding-top: 13rem;
  }
  .about_me_container{
    margin-top: 15px;
    margin-left: 0px;
    width: 100%;
  
  }
  .about_me::after{
    visibility: hidden;
  }
  .decoration_bar{
    margin-left: 8%;
  }
}
@media (min-width: 1280px)
{
  section:first-of-type
   {
    padding-top: 5rem;
   }
   .about_me_container{
    height: 480px;
   }
}


section:first-of-type{
  display: flex;
  margin-top: 16px;
  height: 500px;
}

.about_me{
  margin-left: 2rem;
  width: 94%;
  height: 100%;
  border-radius: 15px;  
  padding-left: 5px;
  padding-top: 5px;
}

.about_me::after{
  content: "";
  display:block;
  margin-top: 2px;
  width: 8%;
  height: 0.1rem;
  background-image: url("/src/assets/images/blue.jpeg");
}


.decoration_bar{
  height: 1px;
  position: sticky;
  z-index: 1;
  width: 85%;
  top: 60%;
  left: 5%;
  background-image: url("/src/assets/images/blue.jpeg");
}
.add_background_color{
  border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%;
  background-image: linear-gradient(90deg, #197DB6 10%, #74CCFF 93.82%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   
  
}
.my_picture{
  margin-left: 2rem;
  width: 40%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my_picture:hover{
  transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s;
    max-width: 100%;
  
}
h1{
  color: aliceblue;
}

.picture{
  border-radius: 60% 40% 40% 20% / 70% 50% 30% 13%;
  width: 320px;
}

@media (max-width: 820px)
{
  .picture
   {
    width: 170px;
  }
}


body::-webkit-scrollbar {
  width: 16px;
  height: fit-content;
}

body::-webkit-scrollbar-thumb {
  background-color:#2D8DC5;
  border-radius: 100px;
}

@media (min-width: 760px)
{

  .habilities_box div{
    display: flex;
  }
  .habilities_box div{
    margin-left: 5px;
  }
}


section#hability{
  margin-top: 8%;
}
.habilities_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  margin-bottom: 14px;
}

.habilities_box{
  width: 90%;
  display: flex;
  margin-left: 3px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  flex-wrap: wrap;
}
.habilities_box div{
  margin-left: 10px;
}



.hability{

background: rgba(41, 62, 90, 0.78);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 50px;
  width: 128px;
  height: 138px;
  margin-top: 10px;
}

.hability:hover{
  transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s;
    max-width: 100%;
    background-color: #2D8DC5;
  
}